/*
* 后台通用样式
*/

.layui-table-cell {
    height: auto;
}

/*nav缩进*/
.nav-padding-left {
    padding-left: 10%;
}

/*红星标记*/
.label-required-prev:before {
    width: 1em;
    color: red;
    content: '*';
    display: inline-block;
    position: absolute;
    text-align: left;
    font-weight: 700;
    line-height: 1.6em;
    margin-left: -.8em;
}

.help-require:after {
    top: 6px;
    right: 5px;
    color: red;
    content: '*';
    position: absolute;
    margin-left: 4px;
    font-weight: 700;
    line-height: 1.8em;
}

.help-block:before {
    content: "\e60b";
}

/*输入框下提示*/
.help-block {
    color: #999;
    font-size: 12px;
}

/*字体颜色*/
.color-green {
    color: #090 !important;
}
/*字体描述*/
.color-desc {
    color: #999 !important;
}
/*字体大小*/
.font-w7 {
    font-weight: 700 !important;
}
/*左间距*/
.margin-left-5 {
    margin-left: 5px !important;
}
/*剧中对齐*/
.text-align {
    text-align:center;
}

/*块元素*/
.block {
    display: block !important;
}
.relative {
    position: relative !important;
}

/*copy*/
.input-right-icon {
    top: 0;
    right: 0;
    width: 30px;
    height: 38px;
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 38px;
    left: unset;
    margin-top: unset;
    cursor: pointer;
    color: #009688;
}
.copy-top-unset {
    top: unset!important;
    bottom: -10px!important;
}

