/*
* 后台通用样式
*/

.layui-table-cell {
    height: auto;
}
/*icon字体图标*/
.fa {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -7px;
}
.fa-unset {
    position: unset;
}
/*nav缩进*/
.nav-padding-left {
    padding-left: 10%;
}

/*红星标记*/
.label-required-prev:before {
    width: 1em;
    color: red;
    content: '*';
    display: inline-block;
    position: absolute;
    text-align: left;
    font-weight: 700;
    line-height: 1.6em;
    margin-left: -.8em;
}

.help-require:after {
    top: 6px;
    right: 5px;
    color: red;
    content: '*';
    position: absolute;
    margin-left: 4px;
    font-weight: 700;
    line-height: 1.8em;
}

.help-block:before {
    content: "\e60b";
}

/*输入框下提示*/
.help-block {
    color: #999;
    font-size: 12px;
}

/*字体颜色*/
.color-green {
    color: #090 !important;
}
/*字体描述*/
.color-desc {
    color: #999 !important;
}
/*字体大小*/
.font-w7 {
    font-weight: 700 !important;
}
/*左间距*/
.margin-left-5 {
    margin-left: 5px !important;
}
/*剧中对齐*/
.text-align {
    text-align:center;
}

/*块元素*/
.block {
    display: block !important;
}
.relative {
    position: relative !important;
}

/*copy*/
.input-right-icon {
    top: 0;
    right: 0;
    width: 30px;
    height: 38px;
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 38px;
    left: unset;
    margin-top: unset;
    cursor: pointer;
    color: #009688;
}
.copy-top-unset {
    top: unset!important;
    bottom: -10px!important;
}

/*! 块阴影 */
.shadow {
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 22%);
}

/*! 字体 */
.font-s10 { font-size: 10px; !important;}
.font-s12 { font-size: 12px; !important;}
.font-s14 { font-size: 14px; !important;}
.font-s16 { font-size: 16px; !important;}

/*! 间距 */
.padding-0 { padding: 0 !important }
.padding-5 { padding: 5px !important }
.padding-10 { padding: 10px !important }
.padding-15 { padding: 15px !important }
.padding-20 { padding: 20px !important }
.padding-left-0 { padding-left: 0 !important }
.padding-left-5 { padding-left: 5px !important }
.padding-left-10 { padding-left: 10px !important }
.margin-0 { margin: 0 !important }
.margin-5 { margin: 5px !important }
.margin-10 { margin: 10px !important }
.margin-15 { margin: 15px !important }
.margin-20 { margin: 20px !important }
.margin-left-0 { margin-left: 0 !important }
.margin-left-5 { margin-left: 5px !important }
.margin-left-10 { margin-left: 10px !important }
.margin-left-15 { margin-left: 15px !important }
.margin-left-20 { margin-left: 20px !important }
.margin-top-0 { margin-top: 0 !important }
.margin-top-5 { margin-top: 5px !important }
.margin-top-10 { margin-top: 10px !important }
.margin-top-15 { margin-top: 15px !important }
.margin-top-20 { margin-top: 20px !important }







